# Python Environment
SEPressEnv/
steveeubankspressenv/
venv/

# Optimized files
*.pyc
__pycache__/

instance/

# Test files
.pytest_cache/
.coverage
htmlcov/

# build and dist files
dist/
build/

*egg-info/
*.egg-info/

# Secret files and settings files
.secret
config.py

# VS Code environment
.vscode/