.background-home{
    background-color: #f7f9e3;
    padding-bottom: 4em;
}
.header-border-bottom{
    border-bottom: 5px solid black;
}
.centered{
    position: inherit;
    left: 15%;
    align-items: center;
    align-content: center;
    text-align: center;
}
.book-block{
    padding-bottom: 2em;
}
.white-text{
    color: white;
}
.header-title{
    text-shadow: 2px 1px #00c635;
}
.section-title{
    text-shadow: 2px 1px #00c635;
    text-align: center;
}
.jt-carousel{
    height: 200px;
    width: 400px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background: inherit;
    margin: 0 auto;"
}

.carousel-image{
    display: block;
    height: auto;
    width: inherit;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 133px;
}

div{
    clear: both;
}
img.rounded{
     padding: 10px;
}
.body-block{
    padding-top: 2em;
    padding-bottom: 2em;
}

#navbarNavAltMarkup a{
    color: black;
}
